
.panel {
	float: right;
	border: 2px solid #b9d4b3;
	border-radius: 5px;
	width: 50%;
}

.message-area {
	height: 70%;
	resize: none;
	box-sizing: border-box;
	overflow: auto;
	background-color: #ffffff;
}

.input-area {
	background: #0078ae;
	box-shadow: inset 0 0 10px #00568c;
}

.input-area input {
	margin: 0.5em 0em 0.5em 0.5em;
}

.text-field {
	border: 1px solid grey;
	padding: 0.2em;
	box-shadow: 0 0 5px #000000;
}

#message {
	min-width: 50%;
	max-width: 60%;
}

.statusOutput {
	background: #b9d4b3;
	text-align: center;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 0.2em;
	width: 100%;
	margin-top: 10%;
	margin-left: 60%;
}

#row {
	top:10;
	margin:0;
	padding: 10px 0px 0px 10px;
	border: 2px solid #b9d4b3;
	border-radius: 5px;
}

.column {
  margin:0;
  float: left;
  font-size: 16px;
  color:#ffffff;
  width: 50%;
  padding: 5%;
  margin-bottom: 5px;
  background-color: #b9d4b3;
}

ul .ulchat{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ulchat li{
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.friend{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #b9d4b3;
  color: #fff;
}

.friend + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}