div.banner_bg{
  background-image: url("../../images/banner.jpg");
  background-repeat: no-repeat;
  height: 268px;
  
  max-width: 1000px;
  background-size: cover;
  background-position: center center;
  
}
