.btns[data-v-01157270] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.btns .shopee-button+.shopee-button[data-v-01157270] {
    margin-left: 16px
}

.btns .shopee-file-upload[data-v-01157270] {
    width: auto
}

.btns .shopee-tooltip+.shopee-button[data-v-01157270],
.btns .shopee-tooltip[data-v-01157270] {
    margin-left: 16px
}

.btns[data-v-01157270] .shopee-file-upload .shopee-upload-wrapper {
    background: none;
    padding: 0
}

.btns[data-v-01157270] .shopee-icon {
    width: 16px;
    height: 16px
}

.btns .shopee-popover+.shopee-button[data-v-01157270] {
    margin-left: 16px
}

.btns .btns[data-v-01157270] {
    line-height: 42px
}

.header[data-v-646079be] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.header .icon[data-v-646079be] {
    position: relative;
    display: inline-block;
    font-weight: 500;
    line-height: 16px;
    font-weight: var(--font-weight)
}

.header .icon .name[data-v-646079be] {
    display: inline-block
}

.package-log[data-v-4064e971] {
    margin-left: 36px
}

.package-log .log[data-v-4064e971] {
    background-color: #fafafa;
    margin-top: 8px;
    padding: 16px 24px;
    overflow: hidden;
    margin-left: 36px
}

.package-log .detail[data-v-4064e971] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    color: #666;
    margin-top: 8px
}

.package-log .detail .label[data-v-4064e971] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    background-color: #e8e8e8;
    font-size: 12px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    padding: 2px 8px;
    margin-left: 16px
}

.package-log .detail .green[data-v-4064e971] {
    background-color: #00bfa5;
    color: #fff;
    font-size: 10px
}

.shopee-icon[data-v-2b726c53] {
    width: 16px;
    height: 16px
}

.log-wrapper[data-v-2b726c53] {
    background-color: #fafafa;
    margin-top: 6px;
    padding: 16px 24px;
    min-height: 74px;
    overflow: hidden
}

.log-wrapper[data-v-2b726c53]:before {
    content: "";
    display: table
}

.log-wrapper[data-v-2b726c53]:after {
    content: "";
    display: table;
    clear: both
}

.lg-history[data-v-2b726c53] {
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    position: relative
}

.lg-history.expanded[data-v-2b726c53] {
    height: auto
}

.lg-history .lg-log[data-v-2b726c53] {
    width: 100%;
    margin: 0
}

.lg-history .lg-log[data-v-2b726c53]:before {
    content: "";
    display: table
}

.lg-history .lg-log[data-v-2b726c53]:after {
    content: "";
    display: table;
    clear: both
}

.lg-history .lg-log.first .icon[data-v-2b726c53] {
    position: relative;
    background: #00bfa5;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 191, 165, .25);
    box-shadow: 0 0 0 4px rgba(0, 191, 165, .25);
    z-index: 2
}

.lg-history .lg-log.first .status[data-v-2b726c53] {
    color: #00bfa5
}

.lg-history .lg-log.first .line[data-v-2b726c53] {
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    height: 1000px
}

.lg-history .lg-log .legend[data-v-2b726c53] {
    width: 40px;
    height: 48px;
    float: left;
    position: relative;
    top: 2px
}

.lg-history .lg-log .icon[data-v-2b726c53] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #e8e8e8
}

.lg-history .lg-log .line[data-v-2b726c53] {
    border-left: 2px solid #e8e8e8;
    height: 1000px;
    position: relative;
    left: 5px
}

.lg-history .lg-log .extra[data-v-2b726c53] {
    margin: 10px 0
}

.lg-history .lg-log .status-log[data-v-2b726c53] {
    max-width: 350px;
    float: left
}

.lg-history .lg-log .status[data-v-2b726c53] {
    font-weight: 500;
    line-height: 18px;
    color: #666;
    font-weight: var(--font-weight)
}

.lg-history .lg-log .time[data-v-2b726c53] {
    font-size: 12px;
    color: #bababa
}

.lg-history .lg-log+.lg-log[data-v-2b726c53] {
    margin-top: 16px
}

.log-toggle[data-v-2b726c53] {
    position: absolute;
    top: 0;
    right: 16px;
    text-align: right;
    color: #00bfa5
}

.log-toggle[data-v-2b726c53]:hover {
    color: rgba(0, 191, 165, .9)
}

.log-toggle .shopee-icon[data-v-2b726c53] {
    height: 12px;
    width: 12px;
    fill: #00bfa5
}

.shopee-icon[data-v-2b726c53] {
    width: 14px;
    height: 14px
}

.label[data-v-2b726c53] {
    display: inline-block;
    padding: 2px 8px;
    text-align: center;
    color: #666;
    overflow: hidden;
    background-color: #00bfa5;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: middle
}

.log-info-header .label[data-v-2b726c53] {
    padding: 6px 8px;
    color: #fff
}

.log-info-header .package-label[data-v-2b726c53] {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.log-info-header .error-msg[data-v-2b726c53] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    padding: 8px;
    background: #fafafa;
    color: #9f9f9f;
    border-radius: 4px
}

.log-header-row[data-v-2b726c53] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px
}

.log-header-row .content[data-v-2b726c53] {
    margin-left: 8px
}

.log-header-row .content .channel-desc[data-v-2b726c53] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.log-header-row .content .desc[data-v-2b726c53] {
    margin-top: 6px;
    color: #595959
}

.log-header-row .content .desc .phone[data-v-2b726c53] {
    margin-left: 16px
}

.log-header-row .carrier[data-v-2b726c53] {
    padding: 0 6px;
    color: #666
}

.log-header-row .label[data-v-2b726c53] {
    padding: 1px 5px;
    color: #fff
}

.actual-carrier-name[data-v-2b726c53] {
    position: relative;
    padding: 0 6px;
    font-size: 14px;
    color: #666
}

.actual-carrier-name[data-v-2b726c53]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 1px;
    height: 14px;
    background-color: #ccc
}

.channel-hotline[data-v-2b726c53] {
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.channel-hotline[data-v-2b726c53] .shopee-popover {
    height: 16px
}

.indent-more[data-v-2b726c53] {
    margin-bottom: 8px
}

.shopee-icon[data-v-92029996] {
    width: 16px;
    height: 16px
}

.image-combine-list[data-v-92029996] {
    width: 60px;
    height: 60px
}

.package-log[data-v-92029996] {
    color: #333;
    margin-top: 16px;
    margin-left: 36px
}

.package-log .log-info+.log-info[data-v-92029996] {
    margin-top: 24px
}

.package-log .image-combine[data-v-92029996] {
    width: 46px;
    height: 46px
}

.package-log .image-container[data-v-92029996] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.package-log .image-container .image-desc[data-v-92029996] {
    margin-left: 8px;
    color: #666
}

.package-log .more-desc[data-v-92029996] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 24px
}

.package-log .more-desc[data-v-92029996]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 1px;
    border-top: 1px dashed #e5e5e5
}

.package-log .more-desc[data-v-92029996]:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    height: 1px;
    border-top: 1px dashed #e5e5e5
}

.package-log[data-v-92029996] .file-upload .shopee-upload-wrapper {
    padding: 0
}

.package-log .proof-desc[data-v-92029996] {
    margin-left: 20px
}

.package-log .log[data-v-92029996] {
    background-color: #fafafa;
    margin-top: 8px;
    padding: 16px 24px;
    overflow: hidden;
    margin-left: 36px
}

.package-log .detail[data-v-92029996] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
    color: #666;
    margin-top: 8px
}

.package-log .detail .label[data-v-92029996] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    background-color: #e8e8e8;
    font-size: 12px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    padding: 2px 8px;
    margin-left: 16px
}

.package-log .detail .green[data-v-92029996] {
    background-color: #00bfa5;
    color: #fff;
    font-size: 10px
}

.package-log[data-v-92029996] .product-list {
    margin-top: 8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.package-log[data-v-92029996] .product-list .product-item {
    width: 60px;
    height: 60px;
    background-size: contain;
    border: 1px solid #e8e8e8
}

.package-log[data-v-92029996] .product-list .product-item.product-image-count {
    background-color: #00bfa5;
    text-align: center;
    padding-top: 14px;
    margin-left: 0;
    margin-right: -60px;
    z-index: 9;
    background: rgba(0, 0, 0, .5);
    color: #fff
}

.address-select-item[data-v-e3b9d17a] {
    cursor: pointer;
    padding: 10px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

.address-select-item[data-v-e3b9d17a]:first-child {
    padding-top: 16px
}

.address-select-item[data-v-e3b9d17a]:last-child {
    padding-bottom: 16px
}

.address-select-item .container[data-v-e3b9d17a] {
    line-height: 16px
}

.address-select-item[data-v-e3b9d17a] .shopee-radio__indicator {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.address-select-item .selected[data-v-e3b9d17a] {
    background: #fafafa
}

.address-select-item .selected[data-v-e3b9d17a]:hover {
    background: rgba(255, 85, 114, .1)
}

.address-select-item .disabled[data-v-e3b9d17a] {
    pointer-events: none;
    opacity: .4
}

.address-select-item .content[data-v-e3b9d17a] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.address-select-item .name[data-v-e3b9d17a] {
    color: #191919
}

.address-select-item .meta[data-v-e3b9d17a] {
    font-size: 10px;
    color: #a6a6a6;
    position: relative;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.address-select-item .meta .default[data-v-e3b9d17a] {
    background: #00bfa5;
    border: 1px;
    font-size: 12px
}

.address-select-item .meta .pickup[data-v-e3b9d17a] {
    background: #4f8bce;
    border: 1px;
    font-size: 12px
}

.address-select-item .meta .return[data-v-e3b9d17a] {
    background: #656ad2;
    border: 1px;
    font-size: 12px
}

.address-select-item .shopee-radio[data-v-e3b9d17a] {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.address-select-item .tag[data-v-e3b9d17a] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 58px;
    max-width: 72px;
    height: 18px;
    margin-left: 4px;
    padding: 0 6px;
    color: #fff;
    border: 1px solid #ccc;
    border-right: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.address-select-item .phone[data-v-e3b9d17a] {
    margin-left: 12px
}

.address-select-item .addr[data-v-e3b9d17a] {
    max-width: 405px;
    margin-top: 8px;
    white-space: normal;
    font-size: 12px;
    color: #999
}

.address-item[data-v-e3b9d17a] {
    width: 100%
}

.address-item-hover[data-v-e3b9d17a]:hover {
    background: rgba(255, 85, 114, .1)
}

.order-hints .search-warpper[data-v-8bffaeb2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-hints .search-warpper .order-search-btn[data-v-8bffaeb2] {
    width: 280px;
    margin-right: 16px
}

.order-hints .search-warpper .shopee-button[data-v-8bffaeb2]:first-of-type {
    margin-right: 16px
}

.order-hints .osh[data-v-8bffaeb2] {
    position: relative
}

.order-hints .osh .osh-info[data-v-8bffaeb2] {
    position: absolute;
    z-index: 99;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    font-weight: 500;
    text-align: left;
    word-break: keep-all;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .1);
    max-height: 400px;
    overflow: auto;
    font-weight: var(--font-weight)
}

.order-hints .osh .osh-info .osh-head[data-v-8bffaeb2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0
}

.order-hints .osh .osh-info[data-v-8bffaeb2] .shopee-icon svg {
    width: 10px
}

.order-hints .osh .osh-info .search-text[data-v-8bffaeb2] {
    margin-left: 10px;
    font-weight: 500;
    line-height: 1.4;
    font-weight: var(--font-weight)
}

.order-hints .osh .osh-info svg[data-v-8bffaeb2] {
    width: 10px;
    height: 10px;
    vertical-align: top;
    display: inline-block;
    fill: #8c8c8c;
    margin-top: 3px
}

.order-hints .osh .osh-wrap-content[data-v-8bffaeb2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    line-height: 16px;
    vertical-align: middle;
    overflow: hidden
}

.order-hints .osh .osh-section.osh-section-2 .osh-item-icons[data-v-8bffaeb2] {
    border-radius: 0 !important
}

.order-hints .osh .osh-section.osh-section-2 .osh-item-content[data-v-8bffaeb2] {
    padding-left: 0
}

.order-hints .osh .osh-section-title[data-v-8bffaeb2] {
    height: 25px;
    border-bottom: 1px solid #f6f6f6;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: var(--font-weight)
}

.order-hints .osh .osh-item[data-v-8bffaeb2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer !important
}

.order-hints .osh .osh-item.activated[data-v-8bffaeb2],
.order-hints .osh .osh-item[data-v-8bffaeb2]:hover {
    background-color: #f6f6f6
}

.order-hints .osh .osh-item .osh-item-icons[data-v-8bffaeb2] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f6f6f6;
    font-size: 0
}

.order-hints .osh .osh-item .osh-item-icons img[data-v-8bffaeb2] {
    width: 50%;
    height: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat
}

.order-hints .osh .osh-item .osh-item-icons.osh-items-icons-1 img[data-v-8bffaeb2],
.order-hints .osh .osh-item .osh-item-icons.osh-items-icons-2 img[data-v-8bffaeb2] {
    width: 100%;
    height: 100%
}

.order-hints .osh .osh-item .osh-item-icons.osh-items-icons-3 img[data-v-8bffaeb2]:first-child {
    width: 100%
}

.order-hints .osh .osh-item .osh-item-content[data-v-8bffaeb2] {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding: 2px 12px 2px 45px;
    height: 40px;
    font-size: 0
}

.order-hints .osh .osh-item .osh-item-content .osh-item-title[data-v-8bffaeb2] {
    font-size: 14px;
    color: #404040;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: var(--font-weight)
}

.order-hints .osh .osh-item .osh-item-content .osh-highlight[data-v-8bffaeb2] {
    color: #00bfa5
}

.order-hints .osh .osh-item .osh-item-content .osh-item-desc[data-v-8bffaeb2] {
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 3px
}

.order-hints .osh .osh-item .osh-item-content .osh-item-desc-icon[data-v-8bffaeb2] {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    border: 1px solid #f6f6f6;
    vertical-align: middle
}

.order-hints .osh .osh-section .osh-item-icons img[data-v-8bffaeb2] {
    border-radius: 40px
}

.order-hints .osh .osh-section-0 .osh-item[data-v-8bffaeb2] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.order-hints .osh .osh-section-0 .osh-item-content[data-v-8bffaeb2] {
    padding: 0 2px
}

.order-search-pannel .report-export[data-v-54562b84] {
    margin-left: 16px
}

.order-search-pannel .order-export[data-v-54562b84] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-search-pannel .order-export .col[data-v-54562b84] {
    margin-right: 8px
}

.order-search-pannel .order-export .shopee-button[data-v-54562b84] {
    background-color: #e6e6e6;
    border-color: #bbb
}

.order-search-pannel .order-export .singal-picker-wrapper[data-v-54562b84] .shopee-date-picker {
    width: 240px
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-54562b84] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-search-pannel .order-export .mutil-picker-wrapper .shopee-select[data-v-54562b84] {
    width: 179px;
    border-right: 1px solid #e5e5e5
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-54562b84] .shopee-date-picker {
    width: 245px
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-54562b84] .shopee-selector {
    padding: 8px 16px;
    border: 0
}

.order-search-pannel .order-export .report-count[data-v-54562b84] {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
    background: #ff5722;
    top: -8px;
    right: -8px
}

.order-search-pannel-inline[data-v-54562b84] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-search-pannel-wrap .order-export[data-v-54562b84] {
    float: right
}

.order-search-improve[data-v-54562b84] {
    display: block
}

.order-search-improve .order-export[data-v-54562b84] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    float: unset;
    margin-bottom: 16px
}

.type[data-v-54562b84] {
    margin-right: 8px
}

.order-item-pick[data-v-439ed799] {
    position: relative
}

.order-item-pick .header[data-v-439ed799] {
    padding: 24px
}

.order-item-pick .header .title[data-v-439ed799] {
    font-size: 20px;
    color: #333
}

.order-item-pick .main[data-v-439ed799] {
    padding: 0 24px;
    margin-bottom: 24px
}

.order-item-pick .main .selected[data-v-439ed799] {
    padding: 10px 0
}

.order-item-pick .main .selected-header[data-v-439ed799] {
    height: 24px;
    padding: 6px 10px;
    margin-bottom: 10px;
    color: #555;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.order-item-pick .bottom[data-v-439ed799] {
    -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, .04);
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, .04)
}

.order-item-pick[data-v-439ed799] .ct-item-product-qty {
    padding-right: 20px
}

[data-v-439ed799] .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff
}

[data-v-439ed799] .footer .desc {
    max-width: 60%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%
}

[data-v-439ed799] .footer .desc .max-desc,
[data-v-439ed799] .footer .desc .warn {
    color: #ee4d2d
}

[data-v-439ed799] .footer .shopee-button+.shopee-button {
    margin-left: 16px
}

.main[data-v-439ed799] .ct-item-product-info {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.main[data-v-439ed799] .ct-item-flag,
.main[data-v-439ed799] .ct-item-meta,
.main[data-v-439ed799] .ct-item-product-name,
.main[data-v-439ed799] .ct-item-weight,
.main[data-v-439ed799] .ct-item-wholesale {
    margin-bottom: 4px
}

.main[data-v-439ed799] .ct-item-product-info {
    max-width: 400px
}

.main[data-v-439ed799] .ct-item-product-name {
    line-height: 18px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-line-clamp: 1;
    -webkit-box-orient: initial
}

.main[data-v-439ed799] .ct-item-weight-info {
    color: #8c8c8c;
    max-width: 400px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px
}

.main[data-v-439ed799] .ct-item-weight {
    display: none
}

.main[data-v-439ed799] .ct-item-product {
    border-bottom: none !important
}

.main[data-v-439ed799] .ct-item-product .ct-item-price-qty {
    margin-right: 0
}

.main[data-v-439ed799] .ct-item-product .ct-item-product-qty {
    padding-right: 0
}

.main[data-v-439ed799] .selected-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-item-pick-modal .shopee-modal__content {
    width: 600px
}

.order-item-pick-modal .shopee-modal__body {
    padding: 0
}

.server-error[data-v-2449cb06] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.server-error .shopee-button[data-v-2449cb06] {
    margin-left: 4px
}

.action-btns .act-btn[data-v-0dbd548c] {
    display: block;
    margin-bottom: 8px
}

.action-btns .act-btn[data-v-0dbd548c]>span {
    max-width: 136px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: normal;
    text-align: left
}

.order-search-pannel[data-v-0a036c1a] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-search-pannel .report-export[data-v-0a036c1a] {
    margin-left: 16px
}

.order-search-pannel .order-export[data-v-0a036c1a] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-search-pannel .order-export .col[data-v-0a036c1a] {
    margin-right: 8px
}

.order-search-pannel .order-export .shopee-button[data-v-0a036c1a] {
    background-color: #e6e6e6;
    border-color: #bbb
}

.order-search-pannel .order-export .singal-picker-wrapper[data-v-0a036c1a] .shopee-date-picker {
    width: 240px
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-0a036c1a] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-search-pannel .order-export .mutil-picker-wrapper .shopee-select[data-v-0a036c1a] {
    width: 179px;
    border-right: 1px solid #e5e5e5
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-0a036c1a] .shopee-date-picker {
    width: 245px
}

.order-search-pannel .order-export .mutil-picker-wrapper[data-v-0a036c1a] .shopee-selector {
    padding: 8px 16px;
    border: 0
}

.order-search-pannel .order-export .report-count[data-v-0a036c1a] {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 50%;
    background: #ff5722;
    top: -8px;
    right: -8px
}

.order-search-improve[data-v-0a036c1a] {
    display: block
}

.order-search-improve .order-export[data-v-0a036c1a] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    float: unset;
    margin-bottom: 16px
}

[data-v-b2bb8fc4] .shopee-form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[data-v-b2bb8fc4] .shopee-form-item .shopee-form-item__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
    max-width: 25%;
    font-weight: 500;
    word-break: break-word;
    color: #666;
    line-height: 1.2;
    font-weight: var(--font-weight)
}

[data-v-b2bb8fc4] .shopee-form-item .shopee-form-item__content {
    width: 75%;
    max-width: 75%;
    margin-left: 0
}

.upload-proof[data-v-b2bb8fc4] {
    height: 100px;
    line-height: 100px;
    color: #8c8c8c
}

.upload-proof[data-v-b2bb8fc4]:before {
    content: "";
    display: table
}

.upload-proof[data-v-b2bb8fc4]:after {
    content: "";
    display: table;
    clear: both
}

.upload-proof svg[data-v-b2bb8fc4] {
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px
}

.upload-proof svg.proof-status-1[data-v-b2bb8fc4] {
    fill: #00bfa5
}

.upload-proof svg.proof-status-2[data-v-b2bb8fc4] {
    fill: #ee4d2d
}

.upload-proof .shopee-dropzone[data-v-b2bb8fc4] {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    line-height: 40px
}

.upload-proof .shopee-dropzone .subtitle[data-v-b2bb8fc4] {
    display: none
}

.text-right[data-v-b2bb8fc4] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right
}

.order-content .package-header[data-v-b2bb8fc4] {
    margin: 16px 16px 0;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    font-weight: 500;
    color: #333;
    background-color: #f6f6f6;
    font-weight: var(--font-weight)
}

.order-content .item-product .big-image[data-v-b2bb8fc4] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 4px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.order-content .item-product .product-name[data-v-b2bb8fc4] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 242px;
    clear: left
}

.order-content .item-channel .carrier-name[data-v-b2bb8fc4] {
    line-height: 24px
}

.shopee-icon[data-v-b2bb8fc4] {
    width: 16px;
    height: 16px
}

.order-list-item .body[data-v-b2bb8fc4] {
    position: relative;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px
}

.order-list-item .body .item-status[data-v-b2bb8fc4],
.order-list-item .body[data-v-b2bb8fc4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.order-list-item .body .item-status[data-v-b2bb8fc4] {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.order-list-item .body .item-status .status[data-v-b2bb8fc4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4px;
    font-weight: 500;
    color: #333;
    font-weight: var(--font-weight)
}

.order-list-item .body .item-status .status .shopee-icon[data-v-b2bb8fc4] {
    margin-left: 4px;
    color: #a2a2a4;
    width: 16px;
    height: 16px
}

.order-list-item .body .item-status .status .big-text[data-v-b2bb8fc4] {
    margin-bottom: 4px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.order-list-item .body .item-status .substatus[data-v-b2bb8fc4] {
    font-size: 12px;
    color: #8c8c8c
}

.order-list-item .body .item-channel[data-v-b2bb8fc4] {
    color: #333
}

.order-list-item .body .item-channel .tracking-number-wrapper[data-v-b2bb8fc4] {
    margin: 4px 0;
    font-size: 12px;
    color: #999;
    word-break: break-all
}

.order-list-item .body .payment-method[data-v-b2bb8fc4] {
    font-size: 12px
}

.order-list-item .body[data-v-b2bb8fc4] .shopee-button .shopee-icon {
    width: 16px;
    height: 16px
}

.order-list-item .body .item-action[data-v-b2bb8fc4] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.order-list-item .body .item-action .shopee-button+.shopee-button[data-v-b2bb8fc4],
.order-list-item .body .item-action .shopee-button+.shopee-file-upload[data-v-b2bb8fc4],
.order-list-item .body .item-action .shopee-file-upload+.shopee-button[data-v-b2bb8fc4] {
    margin-top: 8px
}

.order-list-item .body .item-total[data-v-b2bb8fc4] {
    margin-right: 16px;
    color: #8c8c8c
}

.order-list-item .body .item-total .price[data-v-b2bb8fc4] {
    width: 100%;
    margin-bottom: 4px;
    color: #333
}

.order-list-item .body .highlight[data-v-b2bb8fc4] {
    display: inline-block;
    padding: 0 6px;
    margin-top: 7px;
    font-size: 12px;
    line-height: 16px;
    color: #ffc200;
    border: 1px solid #ffc200
}

.order-list-item .body .guide-container .shopee-icon[data-v-b2bb8fc4] {
    position: absolute;
    top: 45px;
    right: 140px;
    z-index: 100001;
    width: 200px;
    height: 32px;
    color: #fff
}

.order-list-item .body .guide-container .guide-button[data-v-b2bb8fc4] {
    position: absolute;
    top: 150px;
    right: 45px;
    z-index: 100001
}

.order-list-item .body .guide-container .full-mask[data-v-b2bb8fc4] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, .4)
}

.order-list-item .body .guide-container .guide-desc[data-v-b2bb8fc4] {
    position: absolute;
    top: 95px;
    right: 45px;
    z-index: 100001;
    min-width: 360px;
    max-width: 360px;
    line-height: 18px;
    color: #fff
}

.order-list-item .body .guide-container .guide-element[data-v-b2bb8fc4] {
    position: absolute;
    top: 33px;
    right: 45px;
    z-index: 100001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    background: #fff
}

.order-list-item .body .actual-carrier-name[data-v-b2bb8fc4] {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #666
}

.order-list-item .body .shopee-file-upload[data-v-b2bb8fc4] {
    width: auto
}

.order-list-item .body .shopee-file-upload[data-v-b2bb8fc4] .shopee-icon {
    width: 16px;
    height: 16px
}

.order-list-item .body .shopee-file-upload .uploading[data-v-b2bb8fc4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333
}

.order-list-item .body .shopee-file-upload .shopee-spin[data-v-b2bb8fc4] {
    margin-right: 8px
}

.order-list-item[data-v-b2bb8fc4] .shopee-file-upload .shopee-upload-wrapper {
    padding: 0;
    background: none
}

.invoice-onboarding .filter-sort {
    margin-top: 10px;
    margin-bottom: 13px
}

.invoice-onboarding .on-boarding {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99901
}

.invoice-onboarding .on-boarding .process-btns {
    pointer-events: none
}

.invoice-onboarding .on-boarding .filter-onboarding {
    padding: 16px
}

.invoice-onboarding .on-boarding /deep/ .shopee-popover {
    width: 100%;
    background: #fff;
    border-radius: 4px
}

.invoice-onboarding .on-boarding /deep/ .shopee-popover__ref {
    width: 100%
}

.invoice-onboarding .on-boarding .operation {
    text-align: right;
    margin-top: 16px
}

.invoice-onboarding .on-boarding .popover-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    font-weight: var(--font-weight)
}

.invoice-onboarding .on-boarding .popover-header .shopee-icon {
    width: 16px;
    color: #dbdbdb;
    cursor: pointer
}

.invoice-onboarding .on-boarding-content {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 4px
}

[data-v-1274329c] .shopee-form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[data-v-1274329c] .shopee-form-item .shopee-form-item__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
    max-width: 25%;
    font-weight: 500;
    word-break: break-word;
    color: #666;
    line-height: 1.2;
    font-weight: var(--font-weight)
}

[data-v-1274329c] .shopee-form-item .shopee-form-item__content {
    width: 75%;
    max-width: 75%;
    margin-left: 0
}

.upload-proof[data-v-1274329c] {
    height: 100px;
    line-height: 100px;
    color: #8c8c8c
}

.upload-proof[data-v-1274329c]:before {
    content: "";
    display: table
}

.upload-proof[data-v-1274329c]:after {
    content: "";
    display: table;
    clear: both
}

.upload-proof svg[data-v-1274329c] {
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px
}

.upload-proof svg.proof-status-1[data-v-1274329c] {
    fill: #00bfa5
}

.upload-proof svg.proof-status-2[data-v-1274329c] {
    fill: #ee4d2d
}

.upload-proof .shopee-dropzone[data-v-1274329c] {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    line-height: 40px
}

.upload-proof .shopee-dropzone .subtitle[data-v-1274329c] {
    display: none
}

.text-right[data-v-1274329c] {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right
}

.order-content .package-header[data-v-1274329c] {
    margin: 16px 16px 0;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    font-weight: 500;
    color: #333;
    background-color: #f6f6f6;
    font-weight: var(--font-weight)
}

.order-content .item-product .big-image[data-v-1274329c] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 2px;
    margin-right: 16px;
    margin-bottom: 4px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.order-content .item-product .product-name[data-v-1274329c] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 242px;
    clear: left
}

.order-content .item-channel .carrier-name[data-v-1274329c] {
    line-height: 24px
}

.shopee-icon[data-v-1274329c] {
    width: 16px;
    height: 16px
}

.order-item-root-wrap .order-content .more-package[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 34px;
    margin: 0 16px 16px;
    color: #333;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px
}

.order-item-root-wrap .order-content .more-package .shopee-icon[data-v-1274329c] {
    margin-left: 10px;
    color: #333
}

.order-item-root-wrap .order-content .package-body .item-status[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.order-item-root-wrap .order-content .package-body .item-status .shopee-popover[data-v-1274329c] {
    width: 16px;
    height: 16px
}

.order-item-root-wrap .order-content .package-body .item-status .status[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start
}

.order-item-root-wrap .order-content .package-body .item-status .status .container[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.order-item-root-wrap .order-content .package-body .item-status .status .container .shopee-icon[data-v-1274329c] {
    margin-left: 4px;
    color: #a2a2a4;
    width: 16px;
    height: 16px
}

.order-item-root-wrap .order-content .package-body .item-status .status .time-left[data-v-1274329c] .bold {
    font-weight: 500;
    font-weight: var(--font-weight)
}

.order-item-root-wrap .order-content .package-body .item-status .status .time-left.time-left-error[data-v-1274329c] {
    margin-left: 0
}

.order-item-root-wrap .order-content .package-body .item-status .status .big-text[data-v-1274329c] {
    margin-bottom: 4px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.order-item-root-wrap .order-content .package-body .item-status .status .pre-declare-tag[data-v-1274329c] {
    height: 18px;
    padding: 0 8px 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #5c7;
    background-color: #f2fbf4;
    border: 1px solid #c5edd0;
    border-radius: 1px 10px 10px 1px;
    white-space: nowrap
}

.order-item-root-wrap .order-content .package-body .item-action .shopee-tooltip[data-v-1274329c] {
    margin-bottom: 8px
}

.label[data-v-1274329c] {
    display: inline-block;
    padding: 2px 8px;
    margin-left: 16px;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e8e8e8;
    border-radius: 2px
}

.tracking-number-wrapper[data-v-1274329c] {
    margin: 4px 0;
    font-size: 12px;
    color: #999;
    word-break: break-all
}

.waybill-icon[data-v-1274329c],
.waybill-url[data-v-1274329c] {
    color: #1791f2
}

.package-body .item-channel .shopee-icon[data-v-1274329c] {
    vertical-align: text-top;
    width: 16px;
    height: 16px
}

.print-waybill-btn[data-v-1274329c] {
    margin-top: 4px
}

.actual-carrier-name[data-v-1274329c] {
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #666
}

.payment-method[data-v-1274329c] {
    font-size: 12px
}

.order-list-item .body[data-v-1274329c] {
    position: relative;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px
}

.order-list-item .body .item-status[data-v-1274329c],
.order-list-item .body[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.order-list-item .body .item-status[data-v-1274329c] {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.order-list-item .body .item-status .status[data-v-1274329c] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4px;
    font-weight: 500;
    color: #333;
    font-weight: var(--font-weight)
}

.order-list-item .body .item-status .status .shopee-icon[data-v-1274329c] {
    margin-left: 4px;
    color: #a2a2a4;
    width: 16px;
    height: 16px
}

.order-list-item .body .item-status .status .big-text[data-v-1274329c] {
    margin-bottom: 4px;
    font-weight: 500;
    font-weight: var(--font-weight)
}

.order-list-item .body .item-status .substatus[data-v-1274329c] {
    font-size: 12px;
    color: #8c8c8c
}

.order-list-item .body .item-channel[data-v-1274329c] {
    color: #333
}

.order-list-item .body[data-v-1274329c] .shopee-button .shopee-icon {
    width: 16px;
    height: 16px
}

.order-list-item .body .item-action[data-v-1274329c] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.order-list-item .body .item-action .shopee-button+.shopee-button[data-v-1274329c],
.order-list-item .body .item-action .shopee-button+.shopee-file-upload[data-v-1274329c] {
    margin-top: 8px
}

.order-list-item .body .item-total[data-v-1274329c] {
    margin-right: 10px;
    color: #8c8c8c
}

.order-list-item .body .item-total .price[data-v-1274329c] {
    margin-bottom: 4px;
    color: #333;
    width: 100%
}

.order-list-item .body .highlight[data-v-1274329c] {
    font-size: 12px;
    color: #ffc200;
    border: 1px solid #ffc200;
    line-height: 16px;
    padding: 0 6px;
    margin-top: 7px;
    display: inline-block
}

.title-prefix[data-v-1eaa89e5] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.title-prefix .shopee-checkbox[data-v-1eaa89e5] {
    width: 16px;
    height: 16px;
    margin-right: 8px
}

.title-prefix[data-v-1eaa89e5] .shopee-checkbox__indicator {
    margin-right: 0
}

.data-loading[data-v-1eaa89e5] {
    opacity: .6
}

.order-drop-ship[data-v-1eaa89e5] {
    padding: 0 6px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 22px;
    color: #ff8560;
    text-align: center;
    vertical-align: middle;
    background: rgba(255, 133, 96, .16);
    border-radius: 2px
}

.id-btn[data-v-1eaa89e5] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.unsplit-btn[data-v-1eaa89e5] {
    margin-left: 16px
}

.order-list-pannel .skeleton[data-v-a414b804] {
    margin: 16px auto
}

.order-list-pannel .shopee-pagination[data-v-a414b804] {
    padding: 24px 0;
    text-align: right
}

.order-list-pannel .pagination-placeholder[data-v-a414b804] {
    height: 72px
}

.order-list-pannel .channel-selector[data-v-a414b804] {
    color: #757575
}

.order-list-pannel .channel-selector[data-v-a414b804] span {
    padding: 0;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis
}

.order-list-pannel .order-list-item_td[data-v-a414b804] {
    margin-right: 16px
}

.order-list-pannel .order-list-item_td[data-v-a414b804]:last-child {
    margin-right: 0
}

.order-list-pannel .order-list-header[data-v-a414b804] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 16px;
    background: #eff8ec;
    border-radius: 4px;
    color: #757575;
    font-size: 16px;
    border: 1px solid #e8e8e8
}

.order-list-pannel .order-list-header .item-countdown[data-v-a414b804] {
    margin-left: 9px
}

.order-list-pannel .order-list-header .item-countdown[data-v-a414b804]:before {
    content: "";
    display: inline-block;
    margin-right: 9px;
    width: 0;
    height: 14px;
    border-left: 1px solid #e8e8e8;
    vertical-align: -3px
}

.order-list-pannel .order-list-header[data-v-a414b804] .shopee-dropdown-menu {
    max-height: 380px;
    min-width: 160px;
    overflow: scroll
}

.order-list-pannel .fixed-top .order-list-header[data-v-a414b804] {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12)
}

.order-list-pannel[data-v-a414b804] .shopee-fix-bottom-card>.fix-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1104px;
    height: 56px;
    left: auto;
    padding: 0 24px;
    margin-left: -24px
}

.order-list-pannel .order-more-models[data-v-a414b804] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0
}

.order-list-pannel .order-more-models[data-v-a414b804]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #e5e5e5;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.order-list-pannel .order-more-models__content[data-v-a414b804] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    background-color: #fff
}

.order-list-pannel[data-v-a414b804] .item-product {
    margin-right: 5px;
    min-width: 360px;
    max-width: 360px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #434217;
}

.order-list-pannel[data-v-a414b804] .item-total {
    margin-right: 28px;
    min-width: 75px;
    max-width: 75px;
    color: #434217;
}

span.item-total {
    padding-left: 6px;
}

.order-list-pannel[data-v-a414b804] .item-status {
    margin-right: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 182px;
    max-width: 182px
}

.order-list-pannel[data-v-a414b804] .item-channel {
    margin-right: 7px;
    color: #333;
    word-break: break-all;
    min-width: 160px;
    max-width: 160px
}

.order-list-pannel[data-v-a414b804] .item-channel .shopee-dropdown {
    max-width: 100%
}

.order-list-pannel[data-v-a414b804] .item-channel .shopee-dropdown .shopee-button {
    max-width: 100%;
    padding: 0;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.order-list-pannel[data-v-a414b804] .item-action {
    min-width: 168px;
    max-width: 168px;
    color: #434217;
}

.order-list-pannel[data-v-a414b804] .order-item {
    display: block;
    margin-bottom: 16px;
    color: #666;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px
}

.order-list-pannel[data-v-a414b804] .order-item:last-child {
    margin-bottom: 0
}

.order-list-pannel[data-v-a414b804] .order-item .order-title {
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
    background-color: hsla(0, 0%, 96%, .5)
}

.order-list-pannel[data-v-a414b804] .order-item .order-title .buyer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-list-pannel .order-list-body[data-v-a414b804] {
    margin-top: 16px
}

.order-list-pannel .order-list-body[data-v-a414b804] .user-header .avatar {
    width: 24px;
    height: 24px
}

.order-list-pannel .order-list-body[data-v-a414b804] .user-header .username {
    margin-right: 10px;
    font-weight: 400
}

.order-list-pannel .order-list-body .orderid[data-v-a414b804] {
    color: #8c8c8c
}

.order-list-pannel .order-list-body .id-btn .shopee-button[data-v-a414b804] {
    margin-left: 20px
}

.order-list-pannel[data-v-a414b804] .package-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 16px
}

.order-list-pannel[data-v-a414b804] .package-body .item-total {
    margin-right: 16px;
    color: #8c8c8c
}

.order-list-pannel[data-v-a414b804] .package-body .item-total .price {
    margin-bottom: 4px;
    color: #333;
    width: 100%
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status {
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: #333;
    font-weight: var(--font-weight)
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left {
    height: 22px;
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 4px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 400
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left .time-left-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left .shopee-icon {
    margin-right: 4px;
    width: 14px;
    height: 14px
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left-within-some-hour {
    color: #eda500;
    background: #fff7e0
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left-within-one-hour {
    color: #fff;
    background: #ffbf00
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left-late-error {
    background: #ffe9e8;
    color: #ff4742
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .status .time-left-cancel-error {
    background: #ff4742;
    color: #fff
}

.order-list-pannel[data-v-a414b804] .package-body .item-status .substatus {
    font-size: 12px;
    color: #8c8c8c
}

.order-list-pannel[data-v-a414b804] .package-body .highlight {
    font-size: 12px;
    color: #ffc200;
    border: 1px solid #ffc200;
    line-height: 16px;
    padding: 0 6px;
    margin-top: 7px;
    display: inline-block
}

.order-list-pannel .order-list-limit[data-v-a414b804] {
    color: #888;
    text-align: center
}

.order-list-pannel .rating-bar[data-v-a414b804] {
    width: 1104px;
    -webkit-box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .1);
    box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .1)
}

.order-list-pannel .rating-bar .order-comment[data-v-a414b804] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 40px;
    width: 1104px;
    line-height: 80px;
    font-size: 16px;
    color: #333;
    background: #fff
}

.order-list-pannel .rating-bar .order-comment .fix-to-right[data-v-a414b804] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.order-list-pannel .rating-bar .order-comment[data-v-a414b804] .shopee-button {
    margin-left: 16px
}

.order-list-pannel .rating-bar .order-comment[data-v-a414b804] .shopee-checkbox__label {
    font-size: 16px
}

.order-list-pannel .no-data[data-v-a414b804] {
    padding: 124px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #999
}

.order-list-pannel .no-data .no-data-content[data-v-a414b804] {
    width: 96px;
    height: 96px
}

.order-list-pannel .no-data .reload-button[data-v-a414b804] {
    margin-top: 4px
}

.order-list-pannel .no-data .reload-button .shopee-icon[data-v-a414b804] {
    margin-right: 4px;
    width: 16px;
    height: 16px
}

.order-list-pannel .no-data .server-error[data-v-a414b804] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-list-pannel .no-data .server-error .shopee-button[data-v-a414b804] {
    margin-left: 4px
}

[data-v-a414b804] .shopee-checkbox .shopee-checkbox__indicator,
[data-v-a414b804] .shopee-checkbox .shopee-icon {
    width: 16px;
    height: 16px
}

[data-v-a414b804] .shopee-checkbox.indeterminate .shopee-checkbox__indicator:before {
    left: 2px;
    top: 6px
}